[submodule "intervaltree"]
	path = intervaltree
	url = https://github.com/SoerenMoeller/intervaltree.git
[submodule "intervaltree_custom"]
	path = intervaltree_custom
	url = https://github.com/SoerenMoeller/intervaltree_custom.git
